<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <a href="{{ url_for('welcome') }}">
            <button> Exit </button>
        </a>
        <form method="POST">
            <fieldset>
                <legend>Log in</legend> <!-- title in the box of it -->
                <div>
                    <label for="username">
                        <b>Username</b>
                    </label>
                    <input class="space" type="text" placeholder="Enter Username" name="username" required>

                    <label for="password">
                        <b>Password</b>
                    </label>
                    <input class="space" type="password" placeholder="Enter Password" name="password" required>

                    <button class="placeholder" type="submit">
                        Login
                    </button>

                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
            </fieldset>
        </form>
    </body>
</html>