<!DOCTYPE html>
<html>
    <head>
        <title>
            ReceiptView
        </title>
        <link rel="stylesheet" href="/static/receiptView.css">
         <script src="/static/attempt.js"></script>
    </head>
    <body>
        <a href="{{ url_for("select") }}">
            <button>
                Go Back
            </button>
        </a>
        <form>
            <p>
                You are currently logged in as: USERNAME
            </p>
            <a href="{{ url_for("welcome") }}">
                <button type="button" class="placeholder space">
                    log out
                </button>
            </a>
            <fieldset>
                <legend>Receipt #[ID]</legend> <!-- title in the box of it -->
                <div class="flex">
                    <div class="image">
                        <img src="/static/placeholderReceipt.png">
                    </div>
                    <div class="information">
                        <p>
                            Submitter: NAME
                        </p>
                        <p>
                            Date: DATE
                        </p>
                        <p>
                            Amount: VALUE
                        </p>
                        <p>
                            Status: STATUS
                        </p>

                        <button type="submit" class="placeholder" value="handled">
                            Approve
                        </button>
                        <button type="submit" class="deny placeholder" value="denied" onclick="boom()">
                            Deny
                        </button>
                        <img class="boom" id="boom" src="/static/boom.gif">
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>