<!DOCTYPE html>
<html>
    <head>
        <title>ReceiptSelector</title>
        <link rel="stylesheet" href="/static/receiptSelection.css">
    </head>
    <body>
        <form>
            <p>
                You are currently logged in as: {{ user.username }}
            </p>
            <a href="{{ url_for('logout') }}">
                <button type="button" class="placeholder space">
                    log out
                </button>
            </a>
            <fieldset>
                <legend>Receipt Selection</legend>
                <!-- TODO
                    add functionality:
                    apply filter to search
                -->
                <label class="space">
                    Filter:
                    <select>
                        <option value="one">
                            All
                        </option>
                        <option value="two">
                            Handled
                        </option>
                        <option value="three">
                            Approved
                        </option>
                        <option value="four">
                            Denied
                        </option>
                    </select>
                </label>
                <button class="space">
                    search
                </button>
                <div class="scroll">
                    {% if user.can_submit() %}
                    <a class="receiptDisplay" href="{{ url_for('submit') }}">
                        <p>
                            Submit New Receipt +
                        </p>
                    </a>
                    {% endif %}

                    {% for receipt in receipts %}
                    <a href="{{ url_for("receipt", receipt_id=receipt.id) }}" class="receiptDisplay">
                        <p class="rID">
                            #{{ receipt.id }}
                        </p>
                        <p class="rDate">
                            {{ receipt.date }}
                        </p>
                        <p class="rSub">
                            {{ receipt.submitter.username }}
                        </p>
                        <p class="rStatus">
                            {% if receipt.can_be_handled() %}
                            Unprocessed
                            {% elif receipt.is_approved() %}
                            Approved
                            {% elif receipt.can_be_approved() %}
                            Handled
                            {% elif receipt.denied %}
                            Denied
                            {% else %}
                            Secret fifth thing
                            {% endif %}
                        </p>
                    </a>
                    {% endfor %}

                </div>
            </fieldset>
        </form>
    </body>
</html>