<!DOCTYPE html>
<html>
    <head>
        <title>ReceiptView</title>
        <link rel="stylesheet" href="/static/receiptView.css">
    </head>
    <body>
        <a href="{{ url_for("select") }}">
            <button>
                Go Back
            </button>
        </a>
        <form method="POST">
            <p>
                You are currently logged in as: {{ user.username }}
            </p>
            <a href="{{ url_for("logout") }}">
                <button type="button" class="placeholder space">
                    log out
                </button>
            </a>
            <fieldset>
                <legend>Receipt #{{ receipt.id }}</legend> <!-- title in the box of it -->
                <div class="flex">
                    <div class="image">
                        <img src="{{ receipt.image_path }}">
                    </div>
                    <div class="information">
                        <p>
                            Submitter: {{ receipt.submitter.username }}
                        </p>
                        <p>
                            Date: {{ receipt.date }}
                        </p>
                        <p>
                            Amount: {{ receipt.amount }}
                        </p>
                        <p>
                            {% if receipt.can_be_handled() %}
                            Status: Unprocessed
                            {% elif receipt.is_approved() %}
                            Status: Approved
                            {% elif receipt.can_be_approved() %}
                            Status: Handled
                            {% elif receipt.denied %}
                            Status: Denied
                            {% else %}
                            Status: Unknown
                            {% endif %}
                        </p>
                        {% if user.can_approve(receipt) %}
                        <button type="submit" formaction="{{ url_for('approve', receipt_id=receipt.id) }}"
                                class="placeholder" value="approved">
                            Approve
                        </button>
                        {% endif %}
                        {% if user.can_handle(receipt) %}
                        <button type="submit" formaction="{{ url_for('handle', receipt_id=receipt.id) }}"
                                class="placeholder">
                            Handle
                        </button>
                        {% endif %}
                        {% if user.can_deny(receipt) %}
                        <button type="submit" formaction="{{ url_for('deny', receipt_id=receipt.id) }}"
                                class="deny placeholder" value="denied">
                            Deny
                        </button>
                        {% endif %}
                        <img class="boom" id="boom" src="/static/boom.gif">
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>