<!DOCTYPE html>
<html>
    <head>
        <title>
            ReceiptSelector
        </title>
        <link rel="stylesheet" href="/static/receiptSelection.css">
    </head>
    <body>
        <form>
            <p>
                You are currently logged in as: USERNAME
            </p>
            <a href="{{ url_for("welcome") }}">
                <button type="button" class="placeholder space">
                    log out
                </button>
            </a>
            <fieldset>
                <legend>Receipt Selection</legend> <!-- title in the box of it -->
                <!-- TODO
                    add functionality:
                    apply filter to search
                    display receipts from database
                -->
                <label class="space">
                    Filter:
                    <select>
                        <option value="one">
                            All
                        </option>
                        <option value="two">
                            Handled
                        </option>
                        <option value="three">
                            Approved
                        </option>
                        <option value="four">
                            Denied
                        </option>
                    </select>
                </label>
                <button class="space">
                    search
                </button>
                <div class="scroll">
                    <a class="receiptDisplay" href="{{ url_for("submit") }}">
                        <p>
                            Submit New Receipt +
                        </p>
                    </a>

                    <a href="{{ url_for("salesman") }}" class="receiptDisplay">
                        <p class="rID">
                            #00001
                        </p>
                        <p class="rDate">
                            date (test salesman)
                        </p>
                        <p class="rSub">
                            submitter
                        </p>
                        <p class="rStatus">
                            status
                        </p>
                    </a>

                    <a href="{{ url_for("accountant") }}" class="receiptDisplay">
                        <p class="rID">
                            #00002
                        </p>
                        <p class="rDate">
                            date (test accountant)
                        </p>
                        <p class="rSub">
                            submitter
                        </p>
                        <p class="rStatus">
                            status
                        </p>
                    </a>

                    <a href="{{ url_for("manager") }}" class="receiptDisplay">
                        <p class="rID">
                            #00003
                        </p>
                        <p class="rDate">
                            date (test manager)
                        </p>
                        <p class="rSub">
                            submitter
                        </p>
                        <p class="rStatus">
                            status
                        </p>
                    </a>

                    {% for receipt in receipts %}

                    <a class="receiptDisplay">
                        <p class="rID">
                            {{ receipt.id }}
                        </p>
                        <p class="rDate">
                            {{ receipt.date }}
                        </p>
                        <p class="rSub">
                            {{ receipt.submitter_id }}
                        </p>
                        <p class="rStatus">
                            {{% if receipt.is_unprocessed() %}}
                                Unprocessed
                            {{% elif receipt.is_approved() %}}
                                Approved
                            {{% elif receipt.is_handled() %}}
                                Handled
                            {{% else %}}
                                Secret fourth thing
                            {{% endif %}}
                        </p>
                    </a>

                    {% endfor %}

                </div>
            </fieldset>
        </form>
    </body>
</html>