<!DOCTYPE html>
<html>
    <head>
        <title>
            GM Internal
        </title>
        <link rel="stylesheet" href="/static/welcome.css">
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('login') }}">
                <button>
                    login
                </button>
            </a>
            <div class="logo">
                <img src="/static/GM.png">
            </div>
            <p>
                Support: <br> (212) 664-7665
            </p>
        </div>
        <div class="main">
            <H1>
                Gravia Moribunda
            </H1>
            <p>
                Welcome! Hello! This is the internal
                receipt handling system for GM.
                We are so happy to have you on board. <br> <br>
                If you are a new hire, <span style="font-weight: bold;">click on the button
                below to create a new profile within the system</span>.
            </p>
            <a href="{{ url_for('new_profile') }}">
                <button>
                    create new profile
                </button>
            </a>
            <p>
                If you already have an account, you should have
                username and password, and can log in
                on the button at the top of the page. <br> <br>
                If you encounter any trouble, our 24/7 support
                desk is ready to help out! Call them on:
                <span style="font-weight: bold;"> (212) 664-7665 </span>
                <br>
                <br>
                If you, for development purposes, are already logged in,
                click <a href="{{ url_for('select') }}"> here </a>
            </p>
        </div>
    </body>
</html>